div .card{
    margin: 0 auto;
    margin-top: 5rem;
}
.card-title{
    width: 10rem;
    margin: 0 auto;
}

.card-text{
    margin-top: 2rem;
    text-align: center;
}
.card-options{
    margin-top: 3rem;
}