@each $colors-name in $site-colors {
	$name: nth($colors-name, 1);
	$color: nth($colors-name, 2);
	.bg-#{$name} {
		background-color: $color;
	}
	.color-#{$name} {
		color: $color;
	}
}

%bg-image {
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	left: 0;
	top: 0
}

.bg-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba($black, .7);
}

.mr-10 {margin-right: 10px;}
.mr-20 {margin-right: 20px;}

.mb-10 {margin-bottom: 10px;}
.mb-20 {margin-bottom: 20px;}
.mb-30 {margin-bottom: 30px;}

.pr-10 {padding-right: 10px;}