@mixin hover {
	&:hover {
		@content;
	}	
}

@mixin absolute-center() {
	position:absolute;
	left:50%;
	top: 50%;
	transform:translate(-50%,-50%);
}

// Mixins for media queries
@mixin for-small-screen {
	@media (max-width: $sm) { @content; }
}

@mixin for-medium-screen{
	@media (max-width: $md) { @content; }
}

@mixin for-large-screen {
	@media (max-width: $lg) { @content; }
}

@mixin for-extra-large-screen {
	@media (max-width: $xl) { @content; }
}


// usage @include icon(tv, after) {your css properties}
// in a mixin call add only icon name WITHOUT ico prefix and add before/after for pseudo element
@mixin icon($name: download, $pseudo: before) {
	&::#{$pseudo} {
		@include font-styles;
		content: font-char('ico-#{$name}');
		@content;
	}
}



