
<footer class="footer">
	<div class="footer_top"></div>
	<div class="footer_bottom">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>{{{footer.copyright}}}</h1>
				</div>
			</div>
		</div>
	</div>
</footer>



	<script src="{{assets}}/js/main.js"></script>
</body>
</html>
