<section class="container team">
  <h1 class="team__h1">Meet our Team</h1>
  <h2 class="team__h2">Lorem ipsum</h2>
  <div class="team__wrapper">
    <div class="team__card">
      <img
        class="team__picture"
        src="assets/img/svg-sprite/sprite.svg#team1"
        alt=""
      />
      <p class="team__name">Lorem Ipsum</p>
      <p class="team__description">Lorem Ipsum</p>
      <div class="team__links">
        <a class="team__link" href="/">
          <img
            class="icon"
            src="assets/img/svg-sprite/sprite.svg#fb"
            alt=""
          /></a>
        <a class="team__link" href="/">
          <img
            class="icon"
            src="assets/img/svg-sprite/sprite.svg#github"
            alt=""
          /></a>
        <a class="team__link" href="/">
          <img
            class="icon"
            src="assets/img/svg-sprite/sprite.svg#linkedin"
            alt=""
          /></a>
      </div>
    </div>
    <div class="team__card">
      <img
        class="team__picture"
        src="assets/img/svg-sprite/sprite.svg#team2"
        alt=""
      />
      <p class="team__name">Lorem Ipsum</p>
      <p class="team__description">Lorem Ipsum</p>
      <div class="team__links">
        <a class="team__link" href="/">
          <img
            class="icon"
            src="assets/img/svg-sprite/sprite.svg#fb"
            alt=""
          /></a>
        <a class="team__link" href="/">
          <img
            class="icon"
            src="assets/img/svg-sprite/sprite.svg#github"
            alt=""
          /></a>
        <a class="team__link" href="/">
          <img
            class="icon"
            src="assets/img/svg-sprite/sprite.svg#linkedin"
            alt=""
          /></a>
      </div>
    </div>
    <div class="team__card">
      <img
        class="team__picture"
        src="assets/img/svg-sprite/sprite.svg#team3"
        alt=""
      />
      <p class="team__name">Lorem Ipsum</p>
      <p class="team__description">Lorem Ipsum</p>
      <div class="team__links">
        <a class="team__link" href="/">
          <img
            class="icon"
            src="assets/img/svg-sprite/sprite.svg#fb"
            alt=""
          /></a>
        <a class="team__link" href="/">
          <img
            class="icon"
            src="assets/img/svg-sprite/sprite.svg#github"
            alt=""
          /></a>
        <a class="team__link" href="/">
          <img
            class="icon"
            src="assets/img/svg-sprite/sprite.svg#linkedin"
            alt=""
          /></a>
      </div>
    </div>
    <div class="team__card">
      <img
        class="team__picture"
        src="assets/img/svg-sprite/sprite.svg#team4"
        alt=""
      />
      <p class="team__name">Lorem Ipsum</p>
      <p class="team__description">Lorem Ipsum</p>
      <div class="team__links">
        <a class="team__link" href="/">
          <img
            class="icon"
            src="assets/img/svg-sprite/sprite.svg#fb"
            alt=""
          /></a>
        <a class="team__link" href="/">
          <img
            class="icon"
            src="assets/img/svg-sprite/sprite.svg#github"
            alt=""
          /></a>
        <a class="team__link" href="/">
          <img
            class="icon"
            src="assets/img/svg-sprite/sprite.svg#linkedin"
            alt=""
          /></a>
      </div>
    </div>
  </div>
</section>