@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Black.woff2") format("woff2"),
    url("../fonts/Lato/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-BlackItalic.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.roboto-18-300 {
  font-family: "Roboto-Light";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: 18px;
}

.roboto-30-300 {
  font-family: "Roboto-Light";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: 30px;
}

.roboto-24-700 {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-size: 24px;
}

.roboto-36-900 {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  font-size: 36px;
}

.roboto-40-900 {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  font-size: 40;
}

.lato-16-normal {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  // its important to line height always be in % because of responsivness
  line-height: 157%;
}

.lato-50-bold {
  font-family: "Lato";
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1 {
  @extend .lato-50-bold;
  color: $white;
}
