@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
		url('../fonts/Lato/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Black.woff2') format('woff2'),
		url('../fonts/Lato/Lato-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
