// scrollbar for mozilla
// html {
// 	overflow-y: scroll;
// 	scrollbar-color: #333 $orange;
// 	scrollbar-width: thin;
// }

body {
	@extend .lato-16-normal;
	background-color: $grey;

}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1400px;
}